/*Div.Info*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

/*Header*/
.container {
    padding: 5%;
    background-image: url(images/pattern-background-desktop.svg);
    background-color:hsl(225, 100%, 94%);
}

.card {
    border-radius: 10px 10px 10px 10px;
    margin-top: 5%;
    margin-block-end: 5%;
    background-color: white;
}

img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.info, p {
    padding: 5%;
    margin-top: 3%;
}

/*Planos*/
.icone-music {
    width: 17%;
}

.planos {
    margin: 10%;
}

h3 {
    margin-left: 22%;
    margin-top: -18%;
}

.valor {
    color:hsl(224, 23%, 55%);
    margin-top:-5%;
    margin-left:-18%;
}
.cta-change {
    margin-left: 78%;
    margin-top:-17%;
    cursor: pointer;
}

/*Div.Info*/
h2 {
    font-weight: 900;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-weight: 500;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color:hsl(224, 23%, 55%);
}


/*Div.Footer-Butoon*/
.buttons {
    font-size: 16px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

.btn1 {
    display: flex;
    margin-top: 25%;
    border-radius: 10px 10px 10px 10px;
    padding: 5px 100px;
    border: none;
    background-color:hsl(245, 75%, 52%);
    color:hsl(225, 100%, 98%);
    cursor: pointer;
}

.btn2 {
    background-color:white;
    margin-top: 15px;
    border: none;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    margin-block-end: 10%;
    cursor: pointer;
}

/*Breakpoints - Smartphone*/
@media (min-width: 320px) {
    .card {
        width: 100%;
  }
  .btn1 {
      margin-left: 1%;
      padding:2% 30% 1%;
      text-align: center;
  }
  
@media (min-width: 480px) {
    .card {
        width: 70%;
        margin-top: 0%;
        margin-left: 14%;
  }
}

/*Tablet*/
@media (min-width: 768px) {
    .card {
        width: 50%;
        margin-left: 25%;
  }
}

/*Desktop */
@media (min-width: 1024px) {
    .card {
        width: 38%;
        margin-top: 0%;
        margin-left: 34%;
  }
}

/*Desktop */
@media (min-width: 1080px) {
    .card {
        width: 30%;
        margin-top: 0%;
        margin-left: 37%;
  }
}









